{% extends 'SitetheoryProfileBundle::Profile.html.twig' %}


{% block link %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheoryprofile/css/Profile.css') }}">

{% endblock link %}


{# TODO: make CMS manage menu #}
{% set sectionNameHardCoded = 'Candidates' %}
{% set sectionMenuHardCoded = '1' %}
{% set sectionMenuActive = 'drafteesActive' %}

{% if custom is not defined %}
    {% set custom = {
    'candidateSlug': (content.version.title | replace({' ': '-', '.': ''}) | lower),
    'url': '',
    'urlDonate': '/donate',
    'urlStore': 'https://shop.brandnewcongress.org'
    }
    %}
{% endif %}

{# TEMPORARY LOOKUP FOR DONATE URL #}
{% if custom.candidateSlug == 'cori-bush' %}
    {% set custom.url = 'https://votecoribush.com' %}
{% elseif custom.candidateSlug == 'paula-jean' %}
    {% set custom.url = 'https://paulajean2018.com' %}
{% elseif custom.candidateSlug == 'adrienne-bell' %}
    {% set custom.url = 'https://bell2018.com' %}
{% elseif custom.candidateSlug == 'anthony-clark' %}
    {% set custom.url = 'https://anthonyclark2018.com' %}
{% elseif custom.candidateSlug == 'michael-a-hepburn' %}
    {% set custom.url = 'https://michaelhepburn.com' %}
{% elseif custom.candidateSlug == 'alexandria-ocasio-cortez' %}
    {% set custom.url = 'https://ocasio2018.com' %}
{% endif %}


{% block contentHeader %}
    {% if content.version.description is not empty %}
        <div class="contentHeader profileDetails clearfix">

            <p class="pullout">
                {% block contentHeaderText %}
                    {{ content.version.description|raw }}
                {% endblock contentHeaderText %}
            </p>

        </div>
    {% endif %}
{% endblock contentHeader %}


{% block contentType %}

    <div id="contentProfile-{{ content.id }}" class="contentProfile profileDetails">

        <div class="clearfix">

            <div class="profileImageContainer positionAnchor">


                <div class="profileImage primary-image">
                    {% block profileImage %}
                        {% set image = content.version.images|first %}
                        <img stratus-src="{{ image is not empty ? image.url : asset('bundles/sitetheoryprofile/images/profilePlaceholder.png') }}" alt="">
                    {% endblock profileImage %}
                </div>


                <div class="profileLocation positionLeftBottom">
                    <div class="blue colorBox clearfix">
                        <p class="fontPrimary">
                        <span class="starLeft starWhite">
                            <span class="starRight starWhite">
                                {% block profileLocation %}
                                    {{ content.version.subtitle }}
                                {% endblock profileLocation %}
                            </span>
                        </span>
                        </p>
                    </div>
                </div>


            </div>
            {#
            {% if content.version.title is not empty %}
                <h2>{{ content.version.title }}</h2>
            {% endif %}
#}
            <h4 class="profilePosition">
                {% block profilePosition %}
                    {{ content.version.meta.position }}
                {% endblock profilePosition %}
            </h4>


            <h2 class="profileDescriptionHeader">
                {% block profileDescriptionHeader %}
                    About {{ content.version.title | split(' ')[0] }}
                {% endblock profileDescriptionHeader %}
            </h2>


            {#
            {% if content.version.meta.position is not empty %}

                <h4 class="position" data-type="text"
                    data-property="version.meta.position" {{ block('editableContentAttributes') }}>{{ content.version.meta.position }}</h4>

            {% endif %}
            #}

            <div class="content profileDescription" data-type="editor" data-property="version.text" {{ block('editableContentAttributes') }}>
                {% autoescape false %}
                    {{ content.version.text }}
                {% endautoescape %}
            </div>

        </div>

        <div class="borderThick">&nbsp;</div>

        <div id="profileActionArea" class="clearfix">
            <div class="stGrid column50">
                <div class="candidateDetailsJoin joinForm">
                    <h2 class="lightBlueText">Sign Up!</h2>
                    <p>If you’d like to see {{ content.version.title | split(' ')[0] }} run for Congress.
                    </p>
                    {# if we want to send signups to the candidates donate page afterwards #}
                    {#
                    {% set donateUrl = custom.url ~ '/donate' %}
                    #}
                    {{ block('registrationForm') }}
                </div>
            </div>
            <div class="stGrid column50">
                <div class="candidateCallToAction">
                    <h2 class="lightBlueText">Already Signed Up?</h2>
                    <p>It will take millions of dollars and thousands of volunteers to elect a corruption-free Congress. Your dollars and your minutes matter!
                    </p>
                    <div class="candidateActionBtns">
                        <a class="btn" href="/volunteer?candidate={{ custom.candidateSlug}}">Volunteer</a>
                        <a class="btn btnPeriwinkle" href="{{ custom.url }}/donate" target="_blank">Donate</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock contentType %}


{# Hide footer signup form #}
{% block footerJoin %}
{% endblock footerJoin %}
