{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}

{#
########
SETTINGS
########
#}

{# Remove padding on header and sidebarToggle so mini header can go full width #}
{% set headerStructure = '' %}
{% set headerRetractingStructure = '' %}

{# Make mobile drawer slide in from right #}
{% set mobileDrawerDirection = 'mobileDrawerRight' %}



{# Make mobile drawer slide in from right #}
{% set sidebarToggleColor = 'light' %}

{# Hide Sidebar Login until it's dynamically hidden for users with no membership feature #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}

{# Hide sidebar and make main column full width #}
{% if columnSidebar is not defined %}
    {% set columnSidebar = 'stGrid column20' %}
    {% set columnMain = 'stGrid column80' %}
{% endif %}

{# Make sure sidebar variables are empty to prevent errors #}
{% if sectionMenuActive is not defined %}
    {% set sectionMenuActive = 'empty' %}
{% endif %}
{% if sectionMenuHardCoded is not defined %}
    {% set sectionMenuHardCoded = '' %}
{% endif %}

{# Sidebar fonts #}
{% set navLevel1Font = 'fontPrimary' %}
{% set navLevel2Font = 'fontSecondary' %}


{# Set Footer Brightness #}
{% set footerBrightness = 'dark' %}

{# Set Footer FOnt #}
{% set footerFont = 'fontBody' %}

{# Set Footer Site Map Brightness #}
{% set siteMapBrightness = 'dark' %}


{#
###########
CSS STYLING
###########
#}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    {# Load Angular Material manually so that it is available for the site loads (and doesn't wait to be auto-loaded by JS #}
    <link rel="stylesheet" satisfies="angular-material.css" href="{{ asset('bundles/sitetheorystratus/stratus/bower_components/angular-material/angular-material' ~ minified ~ '.css') }}">

    {# TODO: once asset loads custom vhost files, load this way #}
    {# #
    {% stylesheets '@SitetheoryTemplateCustomBundle/Resources/public/css/site.css' filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" data-file="site.css">
    {% endstylesheets %}
    {# #}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">


{% endblock link %}


{#
##########
JAVASCRIPT
##########
#}

{% block script %}

    {# MUST LOAD BEFORE CORE CONFIG #}
    <script src="{{ asset('bundles/bnccore/js/boot/config' ~ minified ~'.js') }}"></script>

    {{ parent() }}

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-90682108-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics  -->

{% endblock script %}


{#
###########
SIGNUP FORM
###########
#}

{% block registrationForm %}
    <div class="joinForm">
        <form name="Signup" ng-submit="send('Signup') && tracking.send('SignupButton', 'click')" ng-controller="Api" ng-sanitize="true" ng-class="status" class="positionAnchor" ng-cloak ng-cloak-reveal
            {% block registrationFormOptions %}
                options='{"url":"https://api.{{ environment.site.domainprimary }}", "controller": "/people", "redirect":{"url":"{{ joinRedirectUrl | default('/donate') }}", "popup":false}}'
            {% endblock registrationFormOptions %}

            {# NOTE: Hidden fields just need to be initialized with ng-init. And utmSource, utmMedium, utmCampaign are set in Api controller. #}
            {% block registrationFormInit %}
                ng-init="model.data.subscriptions = '{{ joinSubscriptions | default('') }}'; model.data.candidate = '{{ candidateSlug | default('') }}';"
            {% endblock registrationFormInit %}
            >

            <md-progress-circular md-mode="indeterminate" ng-show="status === 'sending'"></md-progress-circular>

            <p class="message" ng-show="response.length" ng-bind-html="response"></p>

            <ul class="listUnstyled fontPrimary" ng-show="status !== 'success'">

                {{ registrationFormBefore|default('')|raw }}

                {% verbatim %}
            <li>
                <md-input-container>
                    <label>Email</label>
                    <input name="email" type="email" ng-pattern="options.pattern.email" ng-model="model.data.email" required md-no-asterisk>
                    <div ng-messages="Signup.email.$error" role="alert">
                        <div ng-message-exp="['required', 'pattern']">
                            Please enter a valid email.
                        </div>
                    </div>
                </md-input-container>
            </li>
            <li>
                <md-input-container>
                    <label>Phone</label>
                    <input name="phone" type="text" ng-model="model.data.phone" required md-no-asterisk>
                    <div ng-messages="Signup.phone.$error" role="alert">
                        <div ng-message-exp="['required', 'pattern']">
                            Please enter a valid phone number.
                        </div>
                    </div>
                </md-input-container>
            </li>
            <li>
                <md-input-container>
                    <label>Zip</label>
                    <input name="zip" ng-pattern="options.pattern.zip" ng-model="model.data.zip" required md-no-asterisk>
                    <div ng-messages="Signup.zip.$error" role="alert">
                        <div ng-message-exp="['required', 'pattern']">
                            Please enter a valid zip code.
                        </div>
                    </div>
                </md-input-container>
            </li>
            {% endverbatim %}
                <li>
                    <button type="submit" class="btn btnYellow formSubmit"
                            ng-disabled="Signup.$invalid">{{ textSubmit|default('Sign Me Up') }}</button>
                </li>

                {{ registrationFormAfter|default('')|raw }}

            </ul>
        </form>

        {% block registrationFormDisclaimer %}
            <div class="legalAgreement fontBody">By signing up, I consent to receiving emails from <span class="hasTip"><md-tooltip>Committed to electing a brand new, corruption-free Congress that represents all Americans.</md-tooltip>Brand New Congress</span>{% block registrationFormDisclaimerExtra %}and <span class="hasTip"><md-tooltip>Democrats that represent people, not corporations.</md-tooltip>Justice Democrats.</span>{% endblock registrationFormDisclaimerExtra %}.
            </div>
        {% endblock registrationFormDisclaimer %}

    </div>

{% endblock registrationForm %}




{#
######
LAYOUT
######
#}


{# This is empty and has a background color unless an image is added page by page #}
{% block headerImage %}
{% endblock headerImage %}

{% block headerImageInsideHeader %}
    <div class="headerImageContainer" data-plugin="OnScreen" data-spy="#header">
        <div class="headerImageFixed positionAll" {{ block('headerImage') }}>


        </div>
        <div id="darkenHeaderImage"></div>
    </div>
{% endblock headerImageInsideHeader %}


{% block siteLogo %}
    <div class="siteLogo">
        <a href="/"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/JDLogo.png') }}" alt=""></a>
    </div>
{% endblock siteLogo %}

{% block retractingHeaderContent %}
    <div class="siteLogo">
        <a href="/"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/JDLogoColor.png') }}" alt=""></a>
    </div>
    {{ block('navHeader') }}
{% endblock retractingHeaderContent %}


{% block navMain %}
    <div id="navHeader" class="navMainContainer positionRightTop">
        <ul class="listInline fontPrimary">
            <li id="navJoin" class="navMainLink">
                <a href="/#homeJoin">
                    Sign Up
                    <div class="animatedBorder"></div>
                </a>
            </li>
            <li id="navAction" class="navMainLink">
                <a href="/Candidates">
                    Candidates
                    <div class="animatedBorder"></div>
                </a>
            </li>
            <li id="navAction" class="navMainLink">
                <a href="/Volunteer">
                    Action
                    <div class="animatedBorder"></div>
                </a>
            </li>
            <li id="navAbout" class="navMainLink">
                <a href="/Platform">
                    Platform
                    <div class="animatedBorder"></div>
                </a>
            </li>
            <li id="navDonate" class="navMainLink">
                <a href="/donate" target="_blank">
                    Donate
                    <div class="animatedBorder"></div>
                </a>
            </li>
        </ul>
    </div>
{% endblock navMain %}



{# SIDEBAR #}

{# TODO: Make Dynamic #}

{# Temporary hard coded menu #}
{% block sectionName %}
    <h2 class="sectionName fontPrimary">{{ sectionNameHardCoded|default('') }}</h2>
{% endblock sectionName %}


{% block menuSection1 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="listUnstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Candidates" class="navLevel2">
                Candidates
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/Nominate" class="navLevel2 {% if sectionMenuActive == 'nominateActive' %}active{% endif %}">
                Nominate
            </a>
        </li>
    </ul>
{% endblock menuSection1 %}


{% block menuSection2 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="listUnstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Volunteer" class="navLevel2 {% if sectionMenuActive == 'volunteerSkillsActive' %}active{% endif %}">
                Volunteer
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/Nominate" class="navLevel2 {% if sectionMenuActive == 'nominateActive' %}active{% endif %}">
                Nominate
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/call" class="navLevel2 {% if sectionMenuActive == 'callActive' %}active{% endif %}">
                Join a Call
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/donate" target="_blank"
               class="navLevel2 {% if sectionMenuActive == 'contributeActive' %}active{% endif %}">
                Donate
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="https://shop.justicedemocrats.com" target="_blank"
               class="navLevel2">
                JD Store
            </a>
        </li>
    </ul>
{% endblock menuSection2 %}


{% block menuSection3 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="listUnstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Platform" class="navLevel2 {% if sectionMenuActive == 'platformActive' %}active{% endif %}">
                Platform
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/FAQ" class="navLevel2 {% if sectionMenuActive == 'faqActive' %}active{% endif %}">
                FAQ
            </a>
        </li>
    </ul>

{% endblock menuSection3 %}



{% block navSection %}

    <div class="hide-xs hide-sm">

        {% if sectionMenuHardCoded == '1' %}
            {{ block('menuSection1') }}
        {% elseif sectionMenuHardCoded == '2' %}
            {{ block('menuSection2') }}
        {% elseif sectionMenuHardCoded == '3' %}
            {{ block('menuSection3') }}
        {% endif %}

    </div>

    <!-- Full nested menu displays only for mobile -->

    <div class="hide-gt-sm">
        <ul id="listLevel1" class="listUnstyled">
            <li data-level="1">
                <div id="sidebarJoin" class="siteNavLink " data-level="1">
                    <a href="/#joinForm" class="navLevel1 fontTertiary">
                        Sign Up
                    </a>
                </div>
            </li>
            <li data-level="1">
                <div class="siteNavLink" data-level="1">
                    <a href="/Candidates" class="navLevel1 fontTertiary">
                        Candidates
                    </a>
                </div>
                {{ block('menuSection1') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink" data-level="1">
                    <a href="/Volunteer" class="navLevel1 fontTertiary">
                        Action
                    </a>
                </div>
                {{ block('menuSection2') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink" data-level="1">
                    <a href="/Platform" class="navLevel1 fontTertiary">
                        Platform
                    </a>
                </div>
                {{ block('menuSection3') }}
            </li>
            <li>
                <div class="sidebarContact">
                    <div>
                        <span class="fontBody smallLabel">Press:  </span>
                        <a href="mailto:mailto:press@justicedemocrats.com" class="fontBody">
                            press@justicedemocrats.com
                        </a>
                    </div>
                    <div>
                        <span class="fontBody smallLabel">General:  </span>
                        <a href="mailto:mailto:us@justicedemocrats.com" class="fontBody">
                            us@justicedemocrats.com
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

{% endblock navSection %}

{# End temporary hard coded menu #}



{# Add social media & border to bottom of sidebar #}
{% block sidebarContent %}
    {{ parent() }}
    <div hide-gt-sm ng-cloak class="sidebarBorder"></div>
    <div hide-gt-sm ng-cloak id="sidebarSocial" class="clearfix">
        {{ block('socialMedia') }}
    </div>
    {#
    <div id="sidebarPromoArea">
        <a href="https://shop.justicedemocrats.com/" target="_blank" class="backgroundDark">
            <div class="imageContainer">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/sidebarButtonStore.png') }}" alt="">
            </div>
        </a>
    </div>
    #}
{% endblock sidebarContent %}


{# This is disabled until we need a news headline again #
{% block header %}

    {{ parent() }}

    <div id="newsContainer" class="clearfix">
        <div class="siteMaxWidth siteSidePadding">
            <a id="newsBlurbLink" href="https://events.brandnewcongress.org" target="_blank">
                <div id="newsBlurb" class="clearfix">
                    <div class="goArrows pullRight"> >></div>
                    <div id="newsLabelArea">
                        <span class="newsLabel fontPrimary periwinkle">Coming Up!</span>
                    </div>
                    <p>Hit the ground running! Join a June 24 weekend canvassing kickoff event!</p>
                </div>
            </a>
        </div>
    </div>
{% endblock header %}
{# #}

{# FOOTER SITE MAP #}
{# TODO: Replace with dynamic version #}

{# Temporary hard coded footer site map #}
{% block footerSiteMap %}

    <div id="siteMapBackground">

        <div id="siteMapContainer" class="siteMaxWidth siteSidePadding fontSecondary dark">

            <div hide-xs hide-sm id="siteMapNew" class="clearfix">
                <div class="stGrid column20">
                    <a id="btnJoin" class="btn btnYellow" href="/#homeJoin">Sign Up</a>
                </div>
                <div class="stGrid column20">
                    <div class="siteMapColumn">
                        <ul class="listUnstyled">
                            <li class="siteMapHeader">
                                <a class="fontTertiary" href="/Candidates">Candidates</a>
                            </li>
                            <li>
                                <a href="/Candidates">Candidates</a>
                            </li>
                            <li>
                                <a href="/Nominate">Nominate</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="stGrid column20">
                    <div class="siteMapColumn">
                        <ul class="listUnstyled">
                            <li class="siteMapHeader">
                                <a class="fontTertiary" href="/Volunteer">Action</a>
                            </li>
                            <li>
                                <a href="/Volunteer">Volunteer</a>
                            </li>
                            <li>
                                <a href="/Nominate">Nominate</a>
                            </li>
                            <li>
                                <a href="/call">Join a Call</a>
                            </li>
                            <li>
                                <a href="/donate" target="_blank">Donate</a>
                            </li>
                            <li>
                                <a href="https://shop.justicedemocrats.com/" target="_blank">JD Store</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="stGrid column20">
                    <div class="siteMapColumn">
                        <ul class="listUnstyled">
                            <li class="siteMapHeader">
                                <a class="fontTertiary" href="/Platform">Platform</a>
                            </li>
                            <li>
                                <a href="/Platform">Platform</a>
                            </li>
                            <li>
                                <a href="/FAQ">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="stGrid column20">
                    <div class="siteMapColumn">
                        <ul class="listUnstyled">
                            <li class="siteMapHeader">
                                <a class="fontTertiary">Contact</a>
                            </li>
                            <li>
                                <a href="mailto:press@justicedemocrats.com">Press Contact</a>
                            </li>
                            <li>
                                <a href="mailto:us@justicedemocrats.com">General Contact</a>
                            </li>
                            <li>
                                <a href="/Privacy-Policy">Privacy Policy</a>
                            </li>
                            <li>
                                {# Social Media #}
                                {% block socialMedia %}
                                    <div class="socialMedia {{ socialStyle|default('basicStyle') }}">
                                        <ul class="listInline">
                                            <li class="twitter">
                                                <a class="positionAnchor" href="https://twitter.com/justicedems"
                                                   title="Share on Twitter" target="_blank" data-reactid="123" target="_blank">
                                                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}footerTwitterIcon{% endblock %}{% endembed %}
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a class="positionAnchor" href="https://www.facebook.com/justicedemocrats/"
                                                   title="Facebook" data-reactid="125" target="_blank">
                                                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}footerFacebookIcon{% endblock %}{% endembed %}
                                                </a>
                                            </li>
                                            <li class="reddit">
                                                <a class="positionAnchor" href=""
                                                   target="_blank">
                                                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/reddit.svg' %}{% block id %}footerRedditIcon{% endblock %}{% endembed %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endblock socialMedia %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock footerSiteMap %}
{# End temporary hard coded footer site map #}


{# FOOTER #}

{% block footer %}

    {% block footerImage %}

        <div ng-cloak class="footerImageFixed" style="background-image: url('{{ asset('bundles/sitetheorytemplatecustom/images/footerImage.jpg') }}');">
        </div>

    {% endblock footerImage %}

    {% set paidFor = 'Justice Democrats, justicedemocrats.com. Not authorized by any candidate or candidate\'s committee.' %}
    <div id="footerBackground">
        <div id="footer" class="siteMaxWidth siteSidePadding textCenter fontBody dark">

            <div id="footerLogo" class="textCenter">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/JDlogoMark.png') }}" alt="">
            </div>

            <div id="footerContact">
                Press contact <a href="mailto:us@justicedemocrats.com">press@justicedemocrats.com</a>
                <span hide-xs hide-sm >&nbsp;&nbsp;|&nbsp;&nbsp;</span><br hide-gt-sm >
                General contact <a href="mailto:us@justicedemocrats.com">us@justicedemocrats.com</a>
            </div>

            <div id="footerCredit">
                <div>
                    P. O. Box 621264 Charlotte, NC 28262
                </div>
                <div>
                    &copy;{{  "now"|date("Y") }}  Justice Democrats. All rights reserved.
                    Paid for by {{ content.version.custom.paidFor ?? paidFor }}
                </div>
            </div>

            <div id="footerPlatform">
                <a href="http://www.sitetheory.io" target="_blank">
                    Website powered by Sitetheory
                </a>
            </div>

        </div>
    </div>

{% endblock footer %}



{# Reusable items for secondary pages that are temporaily hard coded #}

{# Candidate Details #}

{% block candidateReturnLink %}
    <strong>
        <a class="returnLink divCenter fontBody" href="/nominate">
            <div class="starLeft starPurple">
                <div class="starRight starPurple">
                    <div class="starText">Return to All Candidates</div>
                </div>
            </div>
        </a>
    </strong>
{% endblock candidateReturnLink %}