{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}

{#
########
SETTINGS
########
#}

{# Remove padding on header and sidebarToggle so mini header can go full width #}
{% set headerStructure = '' %}
{% set headerRetractingStructure = '' %}

{# Make mobile drawer slide in from right #}
{% set mobileDrawerDirection = 'mobileDrawerRight' %}



{# Make mobile drawer slide in from right #}
{% set sidebarToggleColor = 'light' %}

{# Hide Sidebar Login until it's dynamically hidden for users with no membership feature #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}

{# Hide sidebar and make main column full width #}
{% if columnSidebar is not defined %}
    {% set columnSidebar = 'stGrid column20' %}
    {% set columnMain = 'stGrid column80' %}
{% endif %}

{# Make sure sidebar variables are empty to prevent errors #}
{% if sectionMenuActive is not defined %}
    {% set sectionMenuActive = 'empty' %}
{% endif %}
{% if sectionMenuHardCoded is not defined %}
    {% set sectionMenuHardCoded = '' %}
{% endif %}

{# Sidebar fonts #}
{% set navLevel1Font = 'fontPrimary' %}
{% set navLevel2Font = 'fontSecondary' %}


{# Set Footer Brightness #}
{% set footerBrightness = 'dark' %}

{# Set Footer FOnt #}
{% set footerFont = 'fontBody' %}

{# Set Footer Site Map Brightness #}
{% set siteMapBrightness = 'dark' %}


{#
###########
CSS STYLING
###########
#}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    {# TODO: once asset loads custom vhost files, load this way #}
    {# #
    {% stylesheets '@SitetheoryTemplateCustomBundle/Resources/public/css/site.css' filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" data-file="site.css">
    {% endstylesheets %}
    {# #}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">


{% endblock link %}


{#
##########
JAVASCRIPT
##########
#}

{% block script %}
    {{ parent() }}

    <script src="{{ asset('bundles/bnccore/js/controllers/api' ~ minified ~'.js') }}"></script>

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-90682108-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics  -->

{% endblock script %}



{#
############
Sharing
############
#}
{% block meta %}
    {{ parent() }}

    {% block openGraph %}
    {# TODO: This is just here temporarily until the base.html.twig give the ability to select the preferred image in the admin
    we may need to reload the page here in order to get the new image https://developers.facebook.com/tools/debug/
    #}
    <meta property="og:url" content="https://justicedemocrats.com">
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="/assets/1/0/bundles/sitetheorytemplatecustom/images/JDshareLogo.png">
    <meta property="og:title" content="{{ view.viewVersion.title | default('Justice Democrats') }}">
    <meta property="og:description"
          content="{{ view.viewVersion.description | default("Building a Democratic party that works for the people, not corporations, by running a unified campaign to replace every establishment politician in Congress in 2018.") }}">
    {% endblock openGraph %}
{% endblock meta %}

{#
###########
SIGNUP FORM
###########
#}

{% block registrationForm %}

    <form name="Signup" ng-submit="send('Signup') && customMethods.trackSignup('SignupButton', 'click')" ng-controller="Api"
          ng-sanitize="true"
          options='{"url":"https://api.{{ environment.site.domainprimary }}", "controller": "/people", "redirect":{"url":"https://secure.actblue.com/contribute/page/jdsignup", "popup":false}}'
          ng-class="status" class="positionAnchor" ng-cloak ng-cloak-reveal>
        <input type="hidden" name="utmSource" ng-value="model.data.utmSource">
        <input type="hidden" name="utmMedium" ng-value="model.data.utmMedium">
        <input type="hidden" name="utmCampaign" ng-value="model.data.utmCampaign">
        <md-progress-circular md-mode="indeterminate" ng-show="status === 'sending'"></md-progress-circular>
        <p class="message" ng-show="response.length" ng-bind-html="response"></p>

        <ul class="listUnstyled fontPrimary" ng-show="status !== 'success'">

            {{ registrationFormBefore|default('')|raw }}

            {% verbatim %}
        <li>
            <md-input-container>
                <label>Email</label>
                <input name="email" type="email" ng-pattern="options.pattern.email" ng-model="model.data.email" required md-no-asterisk>
                <div ng-messages="Signup.email.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid email.
                    </div>
                </div>
            </md-input-container>
        </li>
        <li>
            <md-input-container>
                <label>Zip</label>
                <input name="zip" ng-pattern="options.pattern.zip" ng-model="model.data.zip" required md-no-asterisk>
                <div ng-messages="Signup.zip.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid zip code.
                    </div>
                </div>
            </md-input-container>
        </li>
        {% endverbatim %}
            <li>
                <button type="submit" class="btn btnYellow formSubmit"
                        ng-disabled="Signup.$invalid">{{ textSubmit|default('Sign Me Up') }}</button>
            </li>

            {{ registrationFormAfter|default('')|raw }}

        </ul>
    </form>

{% endblock registrationForm %}




{#
######
LAYOUT
######
#}


{# This is empty and has a background color unless an image is added page by page #}
{% block headerImage %}
{% endblock headerImage %}

{% block headerImageInsideHeader %}
    <div class="headerImageContainer" data-plugin="OnScreen" data-spy="#header">
        <div class="headerImageFixed positionAll" {{ block('headerImage') }}>


        </div>
        <div id="darkenHeaderImage"></div>
    </div>
{% endblock headerImageInsideHeader %}


{% block siteLogo %}
    <div class="siteLogo">
        <a href="/"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/JDLogo.png') }}" alt=""></a>
    </div>
{% endblock siteLogo %}

{% block retractingHeaderContent %}
    <div class="siteLogo">
        <a href="/"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/JDLogoColor.png') }}" alt=""></a>
    </div>
    {{ block('navHeader') }}
{% endblock retractingHeaderContent %}


{% block navMain %}
    <div id="navHeader" class="navMainContainer positionRightTop">
        <ul class="listInline fontPrimary">
            <li id="navJoin" class="navMainLink">
                <a href="/#homeJoin">
                    Sign Up
                    <div class="animatedBorder"></div>
                </a>
            </li>
            <li id="navNominate" class="navMainLink">
                <a href="/Nominate">
                    Candidates
                    <div class="animatedBorder"></div>
                </a>
            </li>
            <li id="navAction" class="navMainLink">
                <a href="/Volunteer">
                    Action
                    <div class="animatedBorder"></div>
                </a>
            </li>
            <li id="navAbout" class="navMainLink">
                <a href="/Platform">
                    About
                    <div class="animatedBorder"></div>
                </a>
            </li>
            <li id="navDonate" class="navMainLink">
                <a href="https://secure.actblue.com/contribute/page/justicedemocrats?refcode=justicedemocrats.com" target="_blank">
                    Donate
                    <div class="animatedBorder"></div>
                </a>
            </li>
        </ul>
    </div>
{% endblock navMain %}


{# SIDEBAR #}

{# TODO: Make Dynamic #}

{# Temporary hard coded menu #}
{% block sectionName %}
    <h2 class="sectionName fontPrimary">{{ sectionNameHardCoded|default('') }}</h2>
{% endblock sectionName %}


{% block menuSection1 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="listUnstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Nominate" class="navLevel2 {% if sectionMenuActive == 'nominateActive' %}active{% endif %}">
                Nominate
            </a>
        </li>
        {#
        <li class="siteNavLink" data-level="2">
            <a href="/candidates" class="navLevel2 {% if sectionMenuActive == 'drafteesActive' %}active{% endif %}">
                Candidate Draftees
            </a>

            <ul id="listLevel3" class="listUnstyled {{ navLevel3Font|default('fontSecondary') }}">
                <li class="siteNavLink" data-level="3">
                    <a href="/Cori-Bush" class="navLevel3">
                        Cori Bush
                    </a>
                </li>
                <li class="siteNavLink" data-level="3">
                    <a href="/Jamie-Moffett" class="navLevel3">
                        Jamie Moffett
                    </a>
                </li>
                <li class="siteNavLink" data-level="3">
                    <a href="/Chardo-Richardson" class="navLevel3">
                        Chardo Richardson
                    </a>
                </li>
                <li class="siteNavLink" data-level="3">
                    <a href="/Tamarah-Begay" class="navLevel3">
                        Tamarah Begay
                    </a>
                </li>
                <li class="siteNavLink" data-level="3">
                    <a href="/Brad-Watkins" class="navLevel3">
                        Brad Watkins
                    </a>
                </li>

                    <li class="siteNavLink" data-level="3">
                        <a href="/Ronald-E-Stubblefield" class="navLevel3">
                            Ronald E. Stubblefield
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Rita-Bosworth" class="navLevel3">
                            Rita Bosworth
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Rev-Dr-Judy-Cummings" class="navLevel3">
                            Rev. Dr. Judy Cummings
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Jessica-Hall" class="navLevel3">
                            Jessica Hall
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Tawanda-Jones" class="navLevel3">
                            Tawanda Jones
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Linda-Cliatt-Wayman" class="navLevel3">
                            Linda Cliatt-Wayman
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Christine-L-Slocum" class="navLevel3">
                            Christine L. Slocum
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Lydia-Edwards" class="navLevel3">
                            Lydia Edwards
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Daniel-Ellyson" class="navLevel3">
                            Daniel Ellyson
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Derek-Case" class="navLevel3">
                            Derek Case
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Demond-Drummer" class="navLevel3">
                            Demond Drummer
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Sharice-Davids" class="navLevel3">
                            Sharice Davids
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Mike-Zamanksy" class="navLevel3">
                            Mike Zamanksy
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Michael-Franklin" class="navLevel3">
                            Michael Franklin
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Ronjonette-Harrison" class="navLevel3">
                            Ronjonette Harrison
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Alexandria-Ocasio-Cortez" class="navLevel3">
                            Alexandria Ocasio-Cortez
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Richard-Rice" class="navLevel3">
                            Richard Rice
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Latravius-Smith" class="navLevel3">
                            Latravius Smith
                        </a>
                    </li>
                    <li class="siteNavLink" data-level="3">
                        <a href="/Patricia-Neale" class="navLevel3">
                            Patricia Neale
                        </a>
                    </li>
            </ul>

        </li>
         #}
    </ul>
{% endblock menuSection1 %}


{% block menuSection2 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="listUnstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Volunteer" class="navLevel2 {% if sectionMenuActive == 'volunteerSkillsActive' %}active{% endif %}">
                Volunteer
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/Nominate" class="navLevel2 {% if sectionMenuActive == 'nominateActive' %}active{% endif %}">
                Nominate
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/call" class="navLevel2 {% if sectionMenuActive == 'callActive' %}active{% endif %}">
                Join a Call
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="https://secure.actblue.com/contribute/page/justicedemocrats?refcode=justicedemocrats.com" target="_blank"
               class="navLevel2 {% if sectionMenuActive == 'contributeActive' %}active{% endif %}">
                Donate
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="https://shop.justicedemocrats.com" target="_blank"
               class="navLevel2">
                JD Store
            </a>
        </li>
    </ul>
{% endblock menuSection2 %}


{% block menuSection3 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="listUnstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Platform" class="navLevel2 {% if sectionMenuActive == 'platformActive' %}active{% endif %}">
                Platform
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/FAQ" class="navLevel2 {% if sectionMenuActive == 'faqActive' %}active{% endif %}">
                FAQ
            </a>
        </li>
    </ul>

{% endblock menuSection3 %}



{% block navSection %}

    <div class="hide-xs hide-sm">

        {% if sectionMenuHardCoded == '1' %}
            {{ block('menuSection1') }}
        {% elseif sectionMenuHardCoded == '2' %}
            {{ block('menuSection2') }}
        {% elseif sectionMenuHardCoded == '3' %}
            {{ block('menuSection3') }}
        {% endif %}

    </div>

    <!-- Full nested menu displays only for mobile -->

    <div class="hide-gt-sm">
        <ul id="listLevel1" class="listUnstyled">
            <li data-level="1">
                <div id="sidebarJoin" class="siteNavLink " data-level="1">
                    <a href="/#joinForm" class="navLevel1 fontTertiary">
                        Sign Up
                    </a>
                </div>
            </li>
            <li data-level="1">
                <div class="siteNavLink" data-level="1">
                    <a href="/Nominate" class="navLevel1 fontTertiary">
                        Candidates
                    </a>
                </div>
                {{ block('menuSection1') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink" data-level="1">
                    <a href="/Volunteer" class="navLevel1 fontTertiary">
                        Action
                    </a>
                </div>
                {{ block('menuSection2') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink" data-level="1">
                    <a href="/Platform" class="navLevel1 fontTertiary">
                        About
                    </a>
                </div>
                {{ block('menuSection3') }}
            </li>
            <li>
                <div class="sidebarContact">
                    <div>
                        <span class="fontBody smallLabel">Press:  </span>
                        <a href="mailto:mailto:press@justicedemocrats.com" class="fontBody">
                            press@justicedemocrats.com
                        </a>
                    </div>
                    <div>
                        <span class="fontBody smallLabel">General:  </span>
                        <a href="mailto:mailto:us@justicedemocrats.com" class="fontBody">
                            us@justicedemocrats.com
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

{% endblock navSection %}

{# End temporary hard coded menu #}



{# Add social media & border to bottom of sidebar #}
{% block sidebarContent %}
    {{ parent() }}
    <div hide-gt-sm ng-cloak class="sidebarBorder"></div>
    <div hide-gt-sm ng-cloak id="sidebarSocial" class="clearfix">
        {{ block('socialMedia') }}
    </div>
    {#
    <div id="sidebarPromoArea">
        <a href="https://shop.justicedemocrats.com/" target="_blank" class="backgroundDark">
            <div class="imageContainer">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/sidebarButtonStore.png') }}" alt="">
            </div>
        </a>
    </div>
    #}
{% endblock sidebarContent %}


{# FOOTER SITE MAP #}
{# TODO: Replace with dynamic version #}

{# Temporary hard coded footer site map #}
{% block footerSiteMap %}

    <div id="siteMapBackground">

        <div id="siteMapContainer" class="siteMaxWidth siteSidePadding fontSecondary dark">

            <div hide-xs hide-sm id="siteMapNew" class="clearfix">
                <div class="stGrid column20">
                    <a id="btnJoin" class="btn btnYellow" href="/#homeJoin">Sign Up</a>
                </div>
                <div class="stGrid column20">
                    <div class="siteMapColumn">
                        <ul class="listUnstyled">
                            <li class="siteMapHeader">
                                <a class="fontTertiary" href="/Nominate">Candidates</a>
                            </li>
                            <li>
                                <a href="/Nominate">Nominate</a>
                            </li>
                            {#
                            <li>
                                <a href="/Candidates">Candidates</a>
                            </li>
                            #}
                        </ul>
                    </div>
                </div>
                <div class="stGrid column20">
                    <div class="siteMapColumn">
                        <ul class="listUnstyled">
                            <li class="siteMapHeader">
                                <a class="fontTertiary" href="/Volunteer">Action</a>
                            </li>
                            <li>
                                <a href="/Volunteer">Volunteer</a>
                            </li>
                            <li>
                                <a href="/Nominate">Nominate</a>
                            </li>
                            <li>
                                <a href="/call">Join a Call</a>
                            </li>
                            <li>
                                <a href="https://secure.actblue.com/contribute/page/justicedemocrats?refcode=justicedemocrats.com" target="_blank">Donate</a>
                            </li>
                            <li>
                                <a href="https://shop.justicedemocrats.com/" target="_blank">JD Store</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="stGrid column20">
                    <div class="siteMapColumn">
                        <ul class="listUnstyled">
                            <li class="siteMapHeader">
                                <a class="fontTertiary" href="/Platform">About</a>
                            </li>
                            <li>
                                <a href="/Platform">Platform</a>
                            </li>
                            <li>
                                <a href="/FAQ">FAQ</a>
                            </li>
                            <li>
                                <a href="/Privacy-Policy">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="stGrid column20">
                    <div class="siteMapColumn">
                        <ul class="listUnstyled">
                            <li class="siteMapHeader">
                                <a class="fontTertiary" href="mailto:us@justicedemocrats.com">Contact</a>
                            </li>
                            <li>
                                <a href="mailto:press@justicedemocrats.com">Press Contact</a>
                            </li>
                            <li>
                                <a href="mailto:us@justicedemocrats.com">General Contact</a>
                            </li>
                            <li>
                                {# Social Media #}
                                {% block socialMedia %}
                                    <div class="socialMedia {{ socialStyle|default('basicStyle') }}">
                                        <ul class="listInline">
                                            <li class="twitter">
                                                <a class="positionAnchor" href="https://twitter.com/justicedems"
                                                   title="Share on Twitter" target="_blank" data-reactid="123" target="_blank">
                                                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}footerTwitterIcon{% endblock %}{% endembed %}
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a class="positionAnchor" href="https://www.facebook.com/justicedemocrats/"
                                                   title="Facebook" data-reactid="125" target="_blank">
                                                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}footerFacebookIcon{% endblock %}{% endembed %}
                                                </a>
                                            </li>
                                            <li class="reddit">
                                                <a class="positionAnchor" href=""
                                                   target="_blank">
                                                    {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/reddit.svg' %}{% block id %}footerRedditIcon{% endblock %}{% endembed %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endblock socialMedia %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock footerSiteMap %}
{# End temporary hard coded footer site map #}


{# FOOTER #}

{% block viewFooter %}

    {% block footerImage %}

        <div ng-cloak class="footerImageFixed" style="background-image: url('{{ asset('bundles/sitetheorytemplatecustom/images/footerImage.jpg') }}');">
        </div>

    {% endblock footerImage %}

    <div id="footerBackground">
        <div id="footer" class="siteMaxWidth siteSidePadding textCenter fontBody dark">

            <div id="footerLogo" class="textCenter">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/JDlogoMark.png') }}" alt="">
            </div>

            <div id="footerContact">Press contact <a href="mailto:us@justicedemocrats.com">press@justicedemocrats.com</a><span hide-xs hide-sm >&nbsp;&nbsp;|&nbsp;&nbsp;</span><br hide-gt-sm >General contact <a href="mailto:us@justicedemocrats.com">us@justicedemocrats.com</a>
            </div>

            <div id="footerCredit">
                <div>
                    6230 Wilshire Blvd, #1209 | Los Angeles, CA 90048
                </div>
                <div>
                    ©2017 Justice Democrats. All rights reserved. Paid for by Justice Democrats, justicedemocrats.com. Not authorized by any candidate or candidate's committee.
                </div>
            </div>

            <div id="footerPlatform">
                <a href="http://www.sitetheory.io" target="_blank">
                    Website powered by Sitetheory
                </a>
            </div>

        </div>
    </div>

{% endblock viewFooter %}



{# Reusable items for secondary pages that are temporaily hard coded #}

{# Candidate Details #}

{% block candidateReturnLink %}
    <strong>
        <a class="returnLink divCenter fontBody" href="/nominate">
            <div class="starLeft starPurple">
                <div class="starRight starPurple">
                    <div class="starText">Return to All Candidates</div>
                </div>
            </div>
        </a>
    </strong>
{% endblock candidateReturnLink %}