{% extends 'SitetheoryStreamBundle::Excerpt-VisualList.html.twig' %}


{% block link %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheoryprofile/css/Profile.css') }}">

{% endblock link %}






{#
########
SETTINGS
########
#}


{% set listAttributes = 'md-cols-xs="1" md-cols-gt-xs="2" md-row-height-xs="1:2" md-row-height-sm="3:6"  md-row-height-md="7:6" md-row-height-gt-md="5:4"' %}


{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}



{# Temporary Hard Coded Side Menu #}
{% set sectionNameHardCoded = 'Candidates' %}
{% set sectionMenuHardCoded = '1' %}
{% set sectionMenuActive = 'drafteesActive' %}



{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}



{% block contentType %}
    <div id="candidateListPage" class="profileList">

        <p class="pullout">Meet the fighters who have just launched corruption-free campaigns&mdash;candidates with real jobs and a history of action. These are extraordinary women &amp; men that you nominated. If you haven't signed up yet, <a href="/#homeJoin">join the fight</a>! The race for 2018 is on.</p>

        <hr>
        <div id="profileList">
            {{ parent() }}
        </div>

    </div>
{% endblock contentType %}

{% block listItem %}
    {#
    <md-grid-tile ng-repeat="model in collection.models | filter:{data:{version:{title:'!null'}}}">
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                    <div class="profileImage">
                        <a ng-href="{% verbatim %}{{ model.data.routingPrimary.url }}{% endverbatim %}">
                            <img ng-src="{% verbatim %}{{ image.url }}{% endverbatim %}"
                                 ng-repeat="image in model.data.version.images | limitTo:1">
                            <img ng-show="!model.data.version.images.length" src="{{ asset('bundles/sitetheoryprofile/images/profilePlaceholder.png') }}">
                        </a>
                    </div>
                    <h2>{% verbatim %}<a
                           ng-href="{{ model.data.routingPrimary.url }}">{{ model.data.version.title }}</a>{% endverbatim %}</h2>
                    <h4>{% verbatim %}{{ model.data.version.meta.position }}{% endverbatim %}</h4>
                    <p class="profileBody">
                        <span ng-bind-html="model.data.version.text | truncate:{limit: 130}"></span>
                        <a class="readMore fontBody"
                           ng-href="{% verbatim %}{{ model.data.routingPrimary.url }}{% endverbatim %}">Read More</a>
                    </p>
                </div>
                <div class="profileExtra blue" flex-order="1" flex-order-gt-xs="2">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                {% verbatim %}{{ model.data.version.subtitle }}{% endverbatim %}
                            </div>
                            {# FIXME: The locations below are not completely bug free, so we're using subtitles above
                            <div ng-repeat="location in model.data.version.meta.locations"
                                 class="starText fontPrimary textCenter">
                                {% verbatim %}{{ location }}{% endverbatim %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-grid-tile>
    #}

    {# Ro Khanna #}
    <md-grid-tile>
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                    <div class="profileImage">
                        <a href="http://www.rokhanna.com/" target="_blank">
                            <img stratus-src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/roKhanna-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h2><a href="http://www.rokhanna.com/" target="_blank">Ro Khanna</a></h2>
                    <h4>For Congress</h4>
                    <p class="profileBody">
                        As the freshman Congressman representing California's 17th District, Ro is focused on getting special interest and lobbying money out of politics, making college affordable and fighting for renewable energy and the environment.
                        <a class="readMore fontBody"
                           href="http://www.rokhanna.com/" target="_blank">Read More</a>
                    </p>
                </div>
                <div class="profileExtra blue" flex-order="1" flex-order-gt-xs="2">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                California 17th
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-grid-tile>

    {# Paula Jean #}
    <md-grid-tile>
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                    <div class="profileImage">
                        <a href="/Candidates/paula-jean">
                            <img stratus-src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/paulaJeanProfile-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h2><a href="/Candidates/paula-jean">Paula Jean</a></h2>
                    <h4>For U.S. Senate</h4>
                    <p class="profileBody">
                        West Virginia coal powered a nation. Now it’s time for West Virginia to invest in ourselves. I'm ready to fight for Medicare for all, universal pre-K, free tech schools and colleges, and a multi-billion...
                        <a class="readMore fontBody"
                           href="/Candidates/paula-jean">Read More</a>
                    </p>
                </div>
                <div class="profileExtra blue" flex-order="1" flex-order-gt-xs="2">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                West Virginia Senate
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-grid-tile>

    {# Michael A. Hepburn #}

    <md-grid-tile>
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                    <div class="profileImage">
                        <a href="/Candidates/michael-a-hepburn">
                            <img stratus-src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/michaelAHepburn-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h2><a href="/Candidates/michael-a-hepburn">Michael A. Hepburn</a></h2>
                    <h4>For Congress</h4>
                    <p class="profileBody">
                        I will be a champion for public education, stand for fair and equal justice, and advocate for the expansion of Social Security, Medicare and comprehensive healthcare for all – since it should be a right not...
                        <a class="readMore fontBody"
                           href="/Candidates/michael-a-hepburn">Read More</a>
                    </p>
                </div>
                <div class="profileExtra blue" flex-order="1" flex-order-gt-xs="2">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Florida 27th
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-grid-tile>

    {# Adrienne Bell #}

    <md-grid-tile>
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                    <div class="profileImage">
                        <a href="/Candidates/adrienne-bell">
                            <img stratus-src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/adrienneBell-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h2><a href="/Candidates/adrienne-bell">Adrienne Bell</a></h2>
                    <h4>For Congress</h4>
                    <p class="profileBody">
                        Texas has one of the most robust economies in the country -- even the world. There’s no reason the 14th shouldn’t be an economic leader. Health care, a good education, and the opportunity to succeed;...
                        <a class="readMore fontBody"
                           href="/Candidates/adrienne-bell">Read More</a>
                    </p>
                </div>
                <div class="profileExtra blue" flex-order="1" flex-order-gt-xs="2">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Texas 14th
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-grid-tile>

    {# Anthony Clark #}

    <md-grid-tile>
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                    <div class="profileImage">
                        <a href="/Candidates/anthony-clark">
                            <img stratus-src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/anthonyClark-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h2><a href="/Candidates/anthony-clark">Anthony Clark</a></h2>
                    <h4>For Congress</h4>
                    <p class="profileBody">
                        Anthony Clark is a high school teacher and founder of the Suburban Unity Alliance. He believes it’s time this country lives up to its promise of liberty and justice for all. Anthony is here to work with you...
                        <a class="readMore fontBody"
                           href="/Candidates/anthony-clark">Read More</a>
                    </p>
                </div>
                <div class="profileExtra blue" flex-order="1" flex-order-gt-xs="2">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Illinois 7th
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-grid-tile>


    {# Alexandria Ocasio #}

    <md-grid-tile>
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                    <div class="profileImage">
                        <a href="/Candidates/alexandria-ocasio">
                            <img stratus-src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/alexandriaOcasio-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h2><a href="/Candidates/alexandria-ocasio">Alexandria Ocasio</a></h2>
                    <h4>For Congress</h4>
                    <p class="profileBody">
                        New York's 14th congressional district urgently needs access to more reliable jobs, increased access to family support services like parental leave and free childcare. I will fight for universal access to quality...
                        <a class="readMore fontBody"
                           href="/Candidates/alexandria-ocasio">Read More</a>
                    </p>
                </div>
                <div class="profileExtra blue" flex-order="1" flex-order-gt-xs="2">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                New York 14th
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-grid-tile>


    {# Alexandria Ocasio #}

    <md-grid-tile>
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                    <div class="profileImage">
                        <a href="/Candidates/cori-bush">
                            {# TODO: replace with local copy #}
                            {#<img stratus-src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/coriBush-xs.jpg') }}" alt="">#}
                            <img stratus-src="{{ asset('//cdn.sitetheory.io/nest001/2038/coriProfile-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h2><a href="/Candidates/cori-bush">Cori Bush</a></h2>
                    <h4>For Congress</h4>
                    <p class="profileBody">
                        The people of Missouri's 1st district need a representative who understands their struggles and will fight for real solutions. Cori Bush is a former teacher, a registered nurse and a pastor. She's a single...
                        <a class="readMore fontBody"
                           href="/Candidates/cori-bush">Read More</a>
                    </p>
                </div>
                <div class="profileExtra blue" flex-order="1" flex-order-gt-xs="2">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Missouri 1st
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-grid-tile>


{% endblock listItem %}