{% extends '@BNCSitetheoryStream/Excerpt-Candidates.html.twig' %}


{% block listItem %}

    {{ parent() }}

    {# Ro Khanna must go last so it won't mess up the clearfix on odd items #}
    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://jesskingforcongress.com/" target="_blank">Jess King</a></h2>
                    <div class="profileImage">
                        <a href="https://jesskingforcongress.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/jess-king.JPG);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Pennsylvania 16th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">Born and raised in Lancaster County, Pennsylvania, Jess King is working mom running for Congress in PA’s 16th District. Jess is focused on passing Medicare-for-All and building an America that belongs to all of us, not just the wealthiest and well-connected in Washington.</span>
                    <a class="readMore fontBody" href="https://jesskingforcongress.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="http://www.applegateforcongress.com/" target="_blank">Doug Applegate</a></h2>
                    <div class="profileImage">
                        <a href="http://www.applegateforcongress.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/dough-applegate.jpeg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                California 49th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">As a representative in Congress for California’s 49th district, Colonel Doug Applegate will reject political brinkmanship and focus on a progressive vision that advances our economy, champion union jobs and apprenticeships, fight for our troops and veterans, protect our environment including our coastal habitats, and stand up for our values as American people.</span>
                    <a class="readMore fontBody" href="http://www.applegateforcongress.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="http://dorothyforcongress.com/" target="_blank">Dorothy Gasque</a></h2>
                    <div class="profileImage">
                        <a href="http://dorothyforcongress.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/dorothy.jpeg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Washington 3rd
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">While our representatives argue about whether or not to raise the minimum wage, families are struggling to make rent. Dorothy Gasque is running for Congress in Washington’s 3rd district to reform our government and return power to the people rather than corporate interests Congress currently represents.</span>
                    <a class="readMore fontBody" href="http://dorothyforcongress.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="http://jdarnellforcongress.com/" target="_blank">J. Darnell Jones</a></h2>
                    <div class="profileImage">
                        <a href="http://jdarnellforcongress.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/jdarnell.JPG);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Texas 2nd
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">J. Darnell Jones is a retired naval officer with 24 years of service, political activist and staunch advocate for cultural awareness and community involvement. As a representative for Texas’ 2nd district, he will fight for jobs, education, equity and equality for ALL</span>
                    <a class="readMore fontBody" href="http://jdarnellforcongress.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://www.fayrouzsaad.com/" target="_blank">Fayrouz Saad</a></h2>
                    <div class="profileImage">
                        <a href="https://www.fayrouzsaad.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/fayrouz-saad.jpg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Michigan 11th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">Fayrouz Saad was born and raised in Michigan and has spent her career serving the public. She is now running in Michigan’s 11th district to fight for health care, education, economic and justice systems that work for all.</span>
                    <a class="readMore fontBody" href="https://www.fayrouzsaad.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://www.robforthesecond.com/" target="_blank">Robert Davison</a></h2>
                    <div class="profileImage">
                        <a href="https://www.robforthesecond.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/robert-davison.jpg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Michigan 2nd
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">Dr. Rob Davidson is running in Michigan’s 2nd district and will work tirelessly so every American can get the opportunity to achieve their American dream, by reducing income inequality, raising wages, strengthening schools, and expanding healthcare to all Americans so families and small businesses can focus on their fullest potential.</span>
                    <a class="readMore fontBody" href="https://www.robforthesecond.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://benacforcongress.com/" target="_blank">David Benac</a></h2>
                    <div class="profileImage">
                        <a href="https://benacforcongress.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/david-benac.jpg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Michigan 6th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">David is an educator, union representative, and community organizer challenging a now-vulnerable 16-term GOP incumbent in Michigan’s 6th. David is committed to ensuring health care and education for all and erasing dark money from politics.</span>
                    <a class="readMore fontBody" href="https://benacforcongress.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://www.vanessaadia.com/" target="_blank">Vanessa Adia</a></h2>
                    <div class="profileImage">
                        <a href="https://www.vanessaadia.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/vanessa-aida.jpg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Texas 12th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">As a working mother and teacher, Vanessa is committed to ensuring that families come before profits in our government. She will fight for the issues that are important to all families-- public education, health care, and an economy where everyone can succeed and support their families.</span>
                    <a class="readMore fontBody" href="https://www.vanessaadia.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="http://wendyreedforcongress.com/" target="_blank">Wendy Reed</a></h2>
                    <div class="profileImage">
                        <a href="http://wendyreedforcongress.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/wendy-reed.jpg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                California 23rd
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">With 30 years of community advocacy and engaging citizens, Wendy Reed of California’s 23rd district will work to restore self-government by getting big money out of politics, bring essential resources to the district, help create an economy that works for everyone, and protect the rights of all people.</span>
                    <a class="readMore fontBody" href="http://wendyreedforcongress.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="http://www.courtneyroweforcongress.org/" target="_blank">Courtney Rowe</a></h2>
                    <div class="profileImage">
                        <a href="http://www.courtneyroweforcongress.org/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/courtney-rowe.jpg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Iowa 1st
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">Courtney Rowe of Iowa’s 1st district believes America will be its best, when all Americans have the opportunity to be their best. She will aggressively fight for Medicare For All, a renewable energy economy of the future, tuition free public colleges and trade schools, and a living wage at $15 an hour.</span>
                    <a class="readMore fontBody" href="http://www.courtneyroweforcongress.org/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://www.linseyfagan.com/" target="_blank">Linsey Fagan</a></h2>
                    <div class="profileImage">
                        <a href="https://www.linseyfagan.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/lindsay-fagan.png);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Texas 26th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">It’s time for genuine leadership that puts the lives and livelihoods of everyday Texans first. It’s time for leaders who serve the people of Texas, not the special interests. Linsey Fagan is running to represent Texas’ 26th district because, for too long, Texans have been without accountable leadership in Washington.</span>
                    <a class="readMore fontBody" href="https://www.linseyfagan.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://rickfor23.com" target="_blank">Rick Treviño</a></h2>
                    <div class="profileImage">
                        <a href="https://rickfor23.com" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/rick-trevino.jpg);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Texas 23rd
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">As a candidate for Texas’s 23rd District, Rick is committed to fighting for Medicare for All, strengthening and fully funding his district's rural health care systems, and getting big money lobbyists and special interest out of politics.</span>
                    <a class="readMore fontBody" href="https://rickfor23.com" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://www.davidgill2018.com/" target="_blank">David Gill</a></h2>
                    <div class="profileImage">
                        <a href="https://www.davidgill2018.com/" target="_blank">
                            <div style="height: 249px; width: 462px;
                              background-image: url(https://jd-candidate-images.surge.sh/david-gill.JPG);
                              background-size: cover;">
                            </div>
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Illinois 13th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">As an Emergency Room doctor, David bears witness to the overwhelming failures of the for-profit private health insurance industry on a daily basis. He’s been a member of Physicians for a National Health Program for the past 25 years, and he looks forward to being a leader in Congress moving us to the single-payer system which has been denied to us for far too long.</span>
                    <a class="readMore fontBody" href="https://www.davidgill2018.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>


    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="http://www.rokhanna.com/" target="_blank">Ro Khanna</a></h2>
                    <div class="profileImage">
                        <a href="http://www.rokhanna.com/" target="_blank">
                            <img stratus-src="{{ asset('//cdn.sitetheory.io/nest001/2272-Hero%20Ro%20Khanna-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                California 17th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">As the freshman Congressman representing California's 17th District, Ro is focused on getting special interest and lobbying money out of politics, making college affordable and fighting for renewable energy and the environment.</span>
                    <a class="readMore fontBody" href="http://www.rokhanna.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="http://www.heenanforcongress.com/" target="_blank">John Heenan</a></h2>
                    <div class="profileImage">
                        <a href="http://www.heenanforcongress.com/" target="_blank">
                            <img stratus-src="{{ asset('//cdn.sitetheory.io/nest001/2357/johnheenanspace%20%281%29.jpg') }}" alt="">
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Montana At Large
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">As a consumer protection lawyer, John Heenan has dedicated his career to standing up for the regular working people of Montana who get ripped off by banks, insurance companies, and big corporations. In Congress, he’ll continue his track record of fighting for progressive values against powerful corporate interests.</span>
                    <a class="readMore fontBody" href="http://www.heenanforcongress.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://amy4thepeople.com/" target="_blank">Amy Vilela</a></h2>
                    <div class="profileImage">
                        <a href="https://amy4thepeople.com/" target="_blank">
                            <img stratus-src="{{ asset('//cdn.sitetheory.io/nest001/2358/4printAmy4thePeople-9254-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                Nevada 4th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">Amy Vilela in Nevada’s 4th District believes that we don't have time to wait for career politicians, their donors, or special interests to do the right thing -- she will fight and will never stop advocating for Medicare for All, a $15/hour living wage, a Green New Deal, and democratic and electoral reforms that remove Big Money from politics.</span>
                    <a class="readMore fontBody" href="https://amy4thepeople.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://www.dottynygardforcongress.com/" target="_blank">Dotty Nygard</a></h2>
                    <div class="profileImage">
                        <a href="https://www.dottynygardforcongress.com/" target="_blank">
                            <img stratus-src="{{ asset('//cdn.sitetheory.io/nest001/2359/Headshot1-xs.png') }}" alt="">
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                California 10th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">Dotty Nygard in California’s 10th District is an Emergency Room Nurse who believes that an elected representative should embody the ideals, strengths, and spirit of the people they represent. She will be a fierce advocate in Congress for Medicare for All, tuition free public education, the Fight for 15, and getting money out of politics.</span>
                    <a class="readMore fontBody" href="https://www.dottynygardforcongress.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="http://www.jacob2018.com/" target="_blank">Peter Jacob</a></h2>
                    <div class="profileImage">
                        <a href="http://www.jacob2018.com/" target="_blank">
                            <img stratus-src="{{ asset('//cdn.sitetheory.io/nest001/2360/J-0043-xs.jpg') }}" alt="">
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                New Jersey 7th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">As a Licensed Social Worker, Peter Jacob has seen how our government has failed our communities. He knows the only way forward is to elect a true public servant, and that’s what he intends to be as the next representative from New Jersey’s 7th District.</span>
                    <a class="readMore fontBody" href="http://www.jacob2018.com/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>
    
    <div ng-cloak class="gridColumn">
        <div class="profileContainer">
            <div class="profileItem" >
                <div class="clearfix">
                    <h2 class="fontTertiary"><a href="https://electroza.org/" target="_blank">Roza Calderon</a></h2>
                    <div class="profileImage">
                        <a href="https://electroza.org/" target="_blank">
                            <img stratus-src="{{ asset('//cdn.sitetheory.io/nest001/2361/Screen%20Shot%202017-09-13%20at%2012.22.23%20AM-xs.png') }}" alt="">
                        </a>
                    </div>
                    <h4></h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                California 4th
                            </div>
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText">As a scientist, activist, and single mother, Roza Calderon knows that we need leaders who represent real people’s needs over party interests. That means combatting climate change, fighting for Medicare for All, and building an inclusive economy--not because it’s popular, because it’s the right thing to do for California’s 4th District.</span>
                    <a class="readMore fontBody" href="https://electroza.org/" target="_blank">Read More</a>
                </p>
            </div>
        </div>
    </div>
    
{% endblock listItem %}
