{% extends 'SitetheoryStreamBundle::Landing.html.twig' %}


{#
########
SETTINGS
########
#}

{# TEMPLATE SHELL ADJUSTMENTS  #}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = 'flex=100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}


{# Hide page title #}
{% block pageTitle %}
{% endblock pageTitle %}

{# Remove max-width and site padding #}
{% set shellContentStructure = '' %}



{#
################
CSS & JAVASCRIPT
################
#}

{% block link %}
    {{ parent() }}
    {# TODO: once assetic is fixed to load local resources, change this to look like standard #}
    {# #
    {% stylesheets '@SitetheoryTemplateCustomBundle/Resources/public/css/site.css' filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" data-file="site.css">
    {% endstylesheets %}
    {# #}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/landing.css') }}">
{% endblock link %}





{#
######
LAYOUT
######
#}

{% block headerImage %} style="background-image: url('{{ asset('bundles/sitetheorytemplatecustom/images/headerImageHome.jpg') }}');"
{% endblock headerImage %}


{% block header %}


    {% block headerImageInsideHeader %}
        <div class="headerImageContainer" data-plugin="OnScreen" data-spy="#header">
            <div class="headerImageFixed positionAll" {{ block('headerImage') }}>


            </div>
            <div id="darkenHeaderImage"></div>
        </div>
    {% endblock headerImageInsideHeader %}


    <div id="header">

        <a name="homeJoin"></a>

        {% block headerContent %}
            {{ parent() }}
        {% endblock headerContent %}


        <div class="landingHeader">
            <div class="siteSidePadding siteMaxWidth">
                <div class="clearfix">
                    <div class="stGrid column45">
                        <div id="slogan" class="fontTertiary">
                            Democrats<br>
                            that<br>
                            represent<br>
                            people,<br>
                            not<br>
                            corporations
                        </div>
                    </div>
                    <div class="stGrid column10">&nbsp;</div>
                    <div class="stGrid column45">
                        <div id="homeJoin">
                            <p>If you want a strong Democratic Party that doesn't cater to corporate donors and will fight for the average American, join us to take the party back!</p>
                            <div id="homeJoinForm">
                                {{ block('registrationForm') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock header %}


{# NOTE: this page is a stream, but we are currently hard coding everything, so we shouldn't use the majority of the contentType block in the ListBase.html.twig. So instead we are currently just overwriting the entire ContentType block #}

{% block contentType %}

    {# Home Main Layout #}
    <div id="landingContent1" class="landingBackground">

        <div class="siteSidePadding siteMaxWidth shellVerticalPadding">
            <div class="clearfix">
                <div class="stGrid column45">
                    <div id="landingContentLeft" class="fontBody">


                        <a id="homeNewsLink" href="/Candidates">
                            <div id="homeNews">
                                <div id="newsLabelArea">
                                    <div class="newsLabel fontPrimary lightBlue">News</div>
                                    <div class="date fontBody">May 2017</div>
                                </div>
                                <p>6 Congressional campaigns have launched. Meet the candidates and support their campaigns!</p>
                            </div>
                        </a>


                        <div id="introVideo">
                            <div class="iframeVideoWrapper">
                                <iframe width="548 " height="306" src="https://www.youtube.com/embed/lOTsK_WGNAc" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h3 class="fontTertiary blueText">ALL BETS ARE OFF</h3>

                        <div class="pullout">The Democratic Party is broken, and the corporate wing of the party is responsible.</div>

                        <p>By aligning with Wall Street over working men and women, the Democratic Party has allowed Republicans to take over most state legislatures, most governorships, Congress, and the presidency.</p>

                        <p>The solution is not unity with the corporate-backed Democrats. The solution is to challenge them and replace every single one of them with people who will fight for voters, not donors. It’s time to rebuild the Democratic Party from scratch to be a party that fights for a clear progressive vision.</p>

                        <div class="homeImageLink">
                            <h3 class="fontTertiary blueText">WEAR IT</h3>
                            <a  class="backgroundDark" href="https://shop.justicedemocrats.com" target="_blank">
                                <div class="imageWrapper easyTransition">
                                    <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/imageLinkStore-xs.jpg') }}" alt="">
                                </div>
                            </a>
                            <p>Supporting democracy looks good on you. Visit the shop!</p>
                        </div>
                    </div>
                </div>
                <div class="stGrid column10">&nbsp;</div>
                <div class="stGrid column45">
                    <div id="landingContentRight" class="fontBody">
                        <h3 class="fontTertiary">Act Now</h3>
                        <div id="homeActionArea">
                            <p>We are recruiting Justice Democrats to run a unified campaign to replace every establishment politician in Congress in 2018. And we need all the help we can get.</p>

                            <div class="homeActionBtns">
                             <a class="btn" href="/Nominate">NOMINATE A CANDIDATE</a> <a class="btn" href="/donate" target="_blank">DONATE</a>
                            </div>

                            <p>Can’t think of anyone to nominate or don’t have the money to spare? No worries, there are still other ways to contribute to the movement.</p>

                            <ul class="listUnstyled fontBody">
                                <li>
                                    <a href="http://justicedemocrats.com/volunteer/">Tell us how you can help</a>
                                </li>
                                <li>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe8CfK0gUULEVpYFm9Eb4iyGOL-_iDl395qB0z4hny7ek4iNw/viewform" target="_blank">Tell us about your congressional district</a>
                                </li>
                                <li>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSceYguZI_gngXf7dLOXN6xUkLRNsYfn0b2v-aDEvZKPH-j1dQ/viewform" target="_blank">Connect us with people we should talk to</a>
                                </li>
                            </ul>
                        </div>
                        <div id="homeSocial">
                            <h3 class="fontTertiary">Latest</h3>
                            <a class="twitter-timeline" data-height="360" data-tweet-limit="4" href="https://twitter.com/justicedems">Tweets by justicedems</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {# Home Candidates #}

    <div id="landingContent2">
        <a name="homeCandidates"></a>
        <div id="homeCandidates">
            <div class="textCenter">
                <h1>Candidates</h1>
            </div>

            <div class="landingBackground">
            <div class="siteSidePadding siteMaxWidth shellVerticalPadding">
                <p class="intro fontSecondary textCenter">Meet our first draftees! These are exceptional leaders that you nominated: public servants, entrepreneurs, local leaders, and national figures. If they are going to set aside their important work to run for congress, they need to know we have the momentum to get them there. So:</p>

                <div class="homeActionBtns">
                    <a class="btn" href="/Nominate">Sign Up</a>
                    <a class="btn" href="https://shop.justicedemocrats.com" target="_blank">Wear your JD Shirts</a>
                    <a class="btn" href="/Volunteer">Volunteer</a>
                </div>

                <p class="yellow pullout textCenter">Meet our first seven candidates who are going to help us fix America.</p>


                <div class="clearfix candidateGrid borderThick">


                    {# Paula Jean #}
                    <div class="candidateColumn">
                        <div class="candidateContainer">
                            <div class="candidateImage positionAnchor">
                                <div class="imageGradientBottom"></div>
                                <a href="/candidates/paula-jean">
                                    <div class="candidateInfo">
                                        <p class="name fontTertiary">Paula Jean</p>
                                        <p class="title fontTertiary">For U.S.Senate</p>
                                        <div class="candidateBio fontBody">
                                            A coal miner's daughter and granddaughter who is fighting for Medicare for all, free tech schools and colleges, and a multi-billion dollar investment in West Virginian infrastructure.
                                        </div>
                                    </div>
                                    <div class="candidateImageCover positionAll"></div>
                                    <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/paulaJeanProfile-xs.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="borderDashed">
                                <div class="candidateDistrict fontPrimary starLeft divCenter">
                                    <p class="starRight">
                                        West Virginia
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Robb Ryerse: should not appear on Justice Democrats #}
                    {#
                    <div class="candidateColumn">
                        <div class="candidateContainer">
                            <div class="candidateImage positionAnchor">
                                <div class="imageGradientBottom"></div>
                                <a href="/candidates/robb-ryerse">
                                    <div class="candidateInfo">
                                        <p class="name fontTertiary">Rob Ryerse</p>
                                        <p class="title fontTertiary">For U.S. Congress</p>
                                        <div class="candidateBio fontBody">
                                            Today's Republican leadership has strayed far from their roots: Empowering people to live their lives freely and on their own terms, controlling costs and spending wisely, being good stewards of our national...
                                        </div>
                                    </div>
                                    <div class="candidateImageCover positionAll"></div>
                                    <!-- TODO: this image doesn't exist in the repo, so I'm temporarily putting in the BNC version -->
                                    <!-- <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/robbRyerse-xs.jpg') }}" alt="">-->
                                    <img data-plugin="Lazy" src="//cdn.sitetheory.io/nest001/2051/Robb%20Ryerse%20Profile%20Portrait-xs.jpg'" alt="">
                                </a>
                            </div>
                            <div class="borderDashed">
                                <div class="candidateDistrict fontPrimary starLeft divCenter">
                                    <p class="starRight">
                                        Arkansas 3rd
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    #}

                    {# Ro Khanna (on JD but not on BNC, links to his own site). #}
                    <div class="candidateColumn">
                        <div class="candidateContainer">
                            <div class="candidateImage positionAnchor">
                                <div class="imageGradientBottom"></div>
                                <a href="http://www.rokhanna.com/">
                                    <div class="candidateInfo">
                                        <p class="name fontTertiary">Ro Khanna</p>
                                        <p class="title fontTertiary">For U.S. Congress</p>
                                        <div class="candidateBio fontBody">
                                            As the freshman Congressman representing California's 17th District, Ro is focused on getting special interest and lobbying money out of politics, making college affordable and fighting for renewable energy and the environment...
                                        </div>
                                    </div>
                                    <div class="candidateImageCover positionAll"></div>
                                    <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/roKhanna-xs.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="borderDashed">
                                <div class="candidateDistrict fontPrimary starLeft divCenter">
                                    <p class="starRight">
                                        California 17th
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Michael A. Hepburn #}
                    <div class="candidateColumn">
                        <div class="candidateContainer">
                            <div class="candidateImage positionAnchor">
                                <div class="imageGradientBottom"></div>
                                <a href="/candidates/michael-a-hepburn">
                                    <div class="candidateInfo">
                                        <p class="name fontTertiary">Michael A. Hepburn</p>
                                        <p class="title fontTertiary">For U.S. Congress</p>
                                        <div class="candidateBio fontBody">
                                            I will be a champion for public education, stand for fair and equal justice, and advocate for the expansion of Social Security, Medicare and comprehensive healthcare for all – since it should be a right not...
                                        </div>
                                    </div>
                                    <div class="candidateImageCover positionAll"></div>
                                    <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/michaelAHepburn-xs.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="borderDashed">
                                <div class="candidateDistrict fontPrimary starLeft divCenter">
                                    <p class="starRight">
                                        Florida 27th
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Adrienne Bell #}
                    <div class="candidateColumn">
                        <div class="candidateContainer">
                            <div class="candidateImage positionAnchor">
                                <div class="imageGradientBottom"></div>
                                <a href="/candidates/adrienne-bell">
                                    <div class="candidateInfo">
                                        <p class="name fontTertiary">Adrienne Bell</p>
                                        <p class="title fontTertiary">For U.S. Congress</p>
                                        <div class="candidateBio fontBody">
                                            Texas has one of the most robust economies in the country -- even the world. There’s no reason the 14th shouldn’t be an economic leader. Health care, a good education, and the opportunity to succeed;...
                                        </div>
                                    </div>
                                    <div class="candidateImageCover positionAll"></div>
                                    <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/adrienneBell-xs.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="borderDashed">
                                <div class="candidateDistrict fontPrimary starLeft divCenter">
                                    <p class="starRight">
                                        Texas 14th
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Anthony Clark #}
                    <div class="candidateColumn">
                        <div class="candidateContainer">
                            <div class="candidateImage positionAnchor">
                                <div class="imageGradientBottom"></div>
                                <a href="/candidates/anthony-clark">
                                    <div class="candidateInfo">
                                        <p class="name fontTertiary">Anthony Clark</p>
                                        <p class="title fontTertiary">For U.S. Congress</p>
                                        <div class="candidateBio fontBody">
                                            Anthony Clark is a high school teacher and founder of the Suburban Unity Alliance. He believes it’s time this country lives up to its promise of liberty and justice for all. Anthony is here to work with you...
                                        </div>
                                    </div>
                                    <div class="candidateImageCover positionAll"></div>
                                    <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/anthonyClark-xs.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="borderDashed">
                                <div class="candidateDistrict fontPrimary starLeft divCenter">
                                    <p class="starRight">
                                        Illinois 7th
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Alexandria Ocasio #}
                    <div class="candidateColumn">
                        <div class="candidateContainer">
                            <div class="candidateImage positionAnchor">
                                <div class="imageGradientBottom"></div>
                                <a href="/candidates/alexandria-ocasio">
                                    <div class="candidateInfo">
                                        <p class="name fontTertiary">Alexandria Ocasio</p>
                                        <p class="title fontTertiary">For U.S. Congress</p>
                                        <div class="candidateBio fontBody">
                                            New York's 14th congressional district urgently needs access to more reliable jobs, increased access to family support services like parental leave and free childcare. I will fight for universal access to quality...
                                        </div>
                                    </div>
                                    <div class="candidateImageCover positionAll"></div>
                                    <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/alexandriaOcasio-xs.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="borderDashed">
                                <div class="candidateDistrict fontPrimary starLeft divCenter">
                                    <p class="starRight">
                                        New York 14th
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Cori Bush #}
                    <div class="candidateColumn">
                        <div class="candidateContainer">
                            <div class="candidateImage positionAnchor">
                                <div class="imageGradientBottom"></div>
                                <a href="/candidates/cori-bush">
                                    <div class="candidateInfo">
                                        <p class="name fontTertiary">Cori Bush</p>
                                        <p class="title fontTertiary">For U.S. Congress</p>
                                        <div class="candidateBio fontBody">
                                            The people of Missouri's 1st district need a representative who understands their struggles and will fight for real solutions. Cori Bush is a former teacher, a registered nurse and a pastor. She's a single...
                                        </div>
                                    </div>
                                    <div class="candidateImageCover positionAll"></div>
                                    {# TODO: this image doesn't exist in the repo, so I'm temporarily putting in the BNC version #}
                                    {# <img data-plugin="Lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/coriBush-xs.jpg') }}" alt=""> #}
                                    <img data-plugin="Lazy" src="//cdn.sitetheory.io/nest001/2038/coriProfile-xs.jpg" alt="">


                                </a>
                            </div>
                            <div class="borderDashed">
                                <div class="candidateDistrict fontPrimary starLeft divCenter">
                                    <p class="starRight">
                                        Missouri 1st
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div hide-xs hide-sm class="candidateColumn">
                        <div class="candidateContainer tempCandidateAsk">
                            <a href="/nominate">
                                <div class="candidateImage positionAnchor purple">
                                    <div class="candidateInfo">
                                        <p class="adText fontSecondary">Do you know a community leader that would make a great representative?</p>
                                        <div class="title fontTertiary starLeft">
                                            <p class="starRight">Nominate</p>
                                            <div class="animatedUnderline"></div>
                                        </div>
                                    </div>
                                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/candidateAsk.jpg') }}" alt="">
                                </div>
                                <div class="borderDashed">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock contentType %}


