{% extends 'SitetheoryStreamBundle::Landing.html.twig' %}


{#
########
SETTINGS
########
#}

{# TEMPLATE SHELL ADJUSTMENTS  #}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = 'flex=100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}


{# Hide page title #}
{% block pageTitle %}
{% endblock pageTitle %}

{# Remove max-width and site padding #}
{% set shellContentStructure = '' %}



{#
################
CSS & JAVASCRIPT
################
#}

{% block link %}
    {{ parent() }}
    {# TODO: once assetic is fixed to load local resources, change this to look like standard #}
    {# #
    {% stylesheets '@SitetheoryTemplateCustomBundle/Resources/public/css/site.css' filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" data-file="site.css">
    {% endstylesheets %}
    {# #}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/landing.css') }}">
{% endblock link %}





{#
######
LAYOUT
######
#}

{% block headerImage %} style="background-image: url('{{ asset('bundles/sitetheorytemplatecustom/images/headerImageHome.jpg') }}');"
{% endblock headerImage %}


{% block header %}


    {% block headerImageInsideHeader %}
        <div class="headerImageContainer" data-plugin="OnScreen" data-spy="#header">
            <div class="headerImageFixed positionAll" {{ block('headerImage') }}>


            </div>
            <div id="darkenHeaderImage"></div>
        </div>
    {% endblock headerImageInsideHeader %}


    <div id="header">

        <a name="homeJoin"></a>

        {% block headerContent %}
            {{ parent() }}
        {% endblock headerContent %}


        <div class="landingHeader">
            <div class="siteSidePadding siteMaxWidth">
                <div class="clearfix">
                    <div class="stGrid column45">
                        <div id="slogan" class="fontTertiary">
                            Democrats<br>
                            that<br>
                            represent<br>
                            people,<br>
                            not<br>
                            corporations
                        </div>
                    </div>
                    <div class="stGrid column10">&nbsp;</div>
                    <div class="stGrid column45">
                        <div id="homeJoin">
                            <p>If you want a strong Democratic Party that doesn't cater to corporate donors and will fight for the average American, join us to take the party back!</p>
                            <div id="homeJoinForm">
                                {{ block('registrationForm') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock header %}


{# NOTE: this page is a stream, but we are currently hard coding everything, so we shouldn't use the majority of the contentType block in the ListBase.html.twig. So instead we are currently just overwriting the entire ContentType block #}

{% block contentType %}

    {# Home Main Layout #}
    <div id="landingContent1" class="landingBackground">

        <div class="siteSidePadding siteMaxWidth shellVerticalPadding">
            <div class="clearfix">
                <div class="stGrid column45">
                    <div id="landingContentLeft" class="fontBody">

                        {#
                        <a id="homeNewsLink" href="/#homeCandidates">
                            <div id="homeNews">
                                <div id="newsLabelArea">
                                    <div class="newsLabel fontPrimary lightBlue">News</div>
                                    <div class="date fontBody">Mar 16</div>
                                </div>

                                <p>We’re announcing our first 5 candidate draftees from the almost 9,000 you submitted!  Let's convince them to run.</p>
                            </div>
                        </a>
                        #}

                        <div id="introVideo">
                            <div class="iframeVideoWrapper">
                                <iframe width="548 " height="306" src="https://www.youtube.com/embed/lOTsK_WGNAc" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h3 class="fontTertiary blueText">ALL BETS ARE OFF</h3>

                        <div class="pullout">The Democratic Party is broken, and the corporate wing of the party is responsible.</div>

                        <p>By aligning with Wall Street over working men and women, the Democratic Party has allowed Republicans to take over most state legislatures, most governorships, Congress, and the presidency.</p>

                        <p>The solution is not unity with the corporate-backed Democrats. The solution is to challenge them and replace every single one of them with people who will fight for voters, not donors. It’s time to rebuild the Democratic Party from scratch to be a party that fights for a clear progressive vision.</p>
                    </div>
                </div>
                <div class="stGrid column10">&nbsp;</div>
                <div class="stGrid column45">
                    <div id="landingContentRight" class="fontBody">
                        <h3 class="fontTertiary">Act Now</h3>
                        <div id="homeActionArea">
                            <p>We are recruiting Justice Democrats to run a unified campaign to replace every establishment politician in Congress in 2018. And we need all the help we can get.</p>

                            <div class="homeActionBtns">
                             <a class="btn" href="/Nominate">NOMINATE A CANDIDATE</a> <a class="btn" href="https://secure.actblue.com/contribute/page/justicedemocrats?refcode=justicedemocrats.com" target="_blank">DONATE</a>
                            </div>

                            <p>Can’t think of anyone to nominate or don’t have the money to spare? No worries, there are still other ways to contribute to the movement.</p>

                            <ul class="listUnstyled fontBody">
                                <li>
                                    <a href="http://justicedemocrats.com/volunteer/">Tell us how you can help</a>
                                </li>
                                <li>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe8CfK0gUULEVpYFm9Eb4iyGOL-_iDl395qB0z4hny7ek4iNw/viewform" target="_blank">Tell us about your congressional district</a>
                                </li>
                                <li>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSceYguZI_gngXf7dLOXN6xUkLRNsYfn0b2v-aDEvZKPH-j1dQ/viewform" target="_blank">Connect us with people we should talk to</a>
                                </li>
                            </ul>
                        </div>
                        <div id="homeSocial">
                            <h3 class="fontTertiary">Latest</h3>
                            <a class="twitter-timeline" data-height="360" data-tweet-limit="1" href="https://twitter.com/justicedems">Tweets by justicedems</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {# Home Candidates

    <div id="landingContent2">
        <a name="homeCandidates"></a>
        <div id="homeCandidates">
            <div class="textCenter">
                <h1>Candidates</h1>
            </div>

            <div class="landingBackground">
            <div class="siteSidePadding siteMaxWidth shellVerticalPadding">
                <p class="intro fontSecondary textCenter">Meet our first draftees! These are exceptional leaders that you nominated: public servants, entrepreneurs, local leaders, and national figures. If they are going to set aside their important work to run for congress, they need to know we have the momentum to get them there. So:</p>

                <div class="homeActionBtns">
                    <a class="btn" href="/Nominate">Sign Up</a>
                    <a class="btn" href="https://shop.justicedemocrats.com" target="_blank">Wear your JD Shirts</a>
                    <a class="btn" href="/Volunteer">Volunteer</a>
                </div>

                <p class="yellow pullout textCenter">These draftees have not agreed to run yet. Help us convince them.
                </p>


                <div class="candidateGrid borderThick">
                    <div class="clearfix gridAdjust">

                        {# Candidate 2
                        <div class="candidateColumn">

                            {# Candidate 1
                            <div class="candidateContainer">
                                <div class="candidateImage positionAnchor">
                                    <div class="imageGradientBottom"></div>
                                    <a href="/Cori-Bush">
                                        <div class="candidateInfo">
                                            <p class="name fontSecondary">Cori Bush</p>
                                            <p class="title fontSecondary">Pastor & Nurse</p>
                                            <div class="candidateBio fontBody">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur enim ut justo accumsan fermentum. Morbi vitae posuere nisl.
                                            </div>
                                        </div>
                                        <div class="candidateImageCover positionAll"></div>
                                        <img data-src="lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/CoriBush-xs.jpg') }}" alt=""></a>
                                </div>
                                <div class="borderDashed">
                                    <div class="candidateDistrict fontPrimary starLeft starBlue divCenter">
                                        <p class="starRight starBlue">
                                            Missouri 1st
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Candidate 2
                        <div class="candidateColumn">
                            <div class="candidateContainer">
                                <div class="candidateImage positionAnchor">
                                    <div class="imageGradientBottom"></div>
                                    <a href="/Jamie-Moffett">
                                        <div class="candidateInfo">
                                            <p class="name fontSecondary">Jamie Moffett</p>
                                            <p class="title fontSecondary">Documentary Filmmaker</p>
                                            <div class="candidateBio fontBody">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur enim ut justo accumsan fermentum. Morbi vitae posuere nisl.
                                            </div>
                                        </div>
                                        <div class="candidateImageCover positionAll"></div>
                                        <img data-src="lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/JamieMoffett-xs.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="borderDashed">
                                    <div class="candidateDistrict fontPrimary starLeft starBlue divCenter">
                                        <p class="starRight starBlue">
                                            Pennsylvania 1st
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Candidate 3
                        <div class="candidateColumn">
                            <div class="candidateContainer">
                                <div class="candidateImage positionAnchor">
                                    <div class="imageGradientBottom"></div>
                                    <a href="/Tamarah-Begay">
                                        <div class="candidateInfo">
                                            <p class="name fontSecondary">Tamarah Begay</p>
                                            <p class="title fontSecondary">CEO</p>
                                            <div class="candidateBio fontBody">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur enim ut justo accumsan fermentum. Morbi vitae posuere nisl.
                                            </div>
                                        </div>
                                        <div class="candidateImageCover positionAll"></div>
                                        <img  data-src="lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/TamarahBegay-xs.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="borderDashed">
                                    <div class="candidateDistrict fontPrimary starLeft starBlue divCenter">
                                        <p class="starRight starBlue">
                                            New Mexico 3rd
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Candidate 4
                        <div class="candidateColumn">
                            <div class="candidateContainer">
                                <div class="candidateImage positionAnchor">
                                    <div class="imageGradientBottom"></div>
                                    <a href="/Chardo-Richardson">
                                        <div class="candidateInfo">
                                            <p class="name fontSecondary">Chardo Richardson</p>
                                            <p class="title fontSecondary">Civil Rights Lawyer</p>
                                            <div class="candidateBio fontBody">
                                                Air Force veteran with five tours of duty in Iraq and Afghanistan; now President of Central Florida ACLU chapter, fighter for workers’ rights with Working America, and founded Think LegalEase, a series of YouTube videos to make the law accessible.
                                            </div>
                                        </div>
                                        <div class="candidateImageCover positionAll"></div>
                                        <img data-src="lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/ChardoRichardson-xs.jpg') }}" alt=""></a>
                                </div>
                                <div class="borderDashed">
                                    <div class="candidateDistrict fontPrimary starLeft starBlue divCenter">
                                        <p class="starRight starBlue">
                                            Florida 9th
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Candidate 5
                        <div class="candidateColumn">
                            <div class="candidateContainer">
                                <div class="candidateImage positionAnchor">
                                    <div class="imageGradientBottom"></div>
                                    <a href="/Tynisha-Tyson">
                                        <div class="candidateInfo">
                                            <p class="name fontSecondary">Tynisha Tyson</p>
                                            <p class="title fontSecondary">Social Worker</p>
                                            <div class="candidateBio fontBody">
                                                Social worker at Milner Elementary; works with children who suffer from abuse, neglect, and extreme poverty to be an anchor in their lives. Has actively continued working as a social worker to help kids most in need despite opportunities to “move up.”
                                            </div>
                                        </div>
                                        <div class="candidateImageCover positionAll"></div>
                                        <img data-src="lazy" src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/TynishaTyson-xs.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="borderDashed">
                                    <div class="candidateDistrict fontPrimary starLeft starBlue divCenter">
                                        <p class="starRight starBlue">
                                            Connecticut 1st
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div hide-xs hide-sm class="candidateColumn">
                        <div class="candidateContainer tempCandidateAsk">
                            <a href="/nominate">
                                <div class="candidateImage positionAnchor">
                                    <div class="candidateInfo">
                                        <p class="adText fontSecondary">Do you have a leader in your community who would be a great representative?</p>
                                        <div class="title fontTertiary starLeft starBlue">
                                            <p class="starRight starBlue">Nominate</p>
                                            <div class="animatedUnderline"></div>
                                        </div>
                                    </div>
                                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/candidateAsk.jpg') }}" alt="">
                                </div>
                            </a>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    #}
{% endblock contentType %}


