{% extends 'SitetheoryStreamBundle::Landing.html.twig' %}


{#
########
SETTINGS
########
#}

{# TEMPLATE SHELL ADJUSTMENTS  #}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = 'flex=100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}


{# Hide page title #}
{% block pageTitle %}
{% endblock pageTitle %}

{# Remove shell vertical content padding class to replace with stream padding #}
{% set shellContentStructure = 'siteMaxWidth siteSidePadding' %}



{#
################
CSS & JAVASCRIPT
################
#}

{% block link %}
    {{ parent() }}
    {# TODO: once assetic is fixed to load local resources, change this to look like standard #}
    {# #
    {% stylesheets '@SitetheoryTemplateCustomBundle/Resources/public/css/site.css' filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" data-file="site.css">
    {% endstylesheets %}
    {# #}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/landing.css') }}">
{% endblock link %}





{#
######
LAYOUT
######
#}

{% block header %}

    <div class="headerImageContainer" data-plugin="OnScreen" data-spy="#header">
        <div class="headerImageFixed positionAll"  style="background-image: url('{{ asset('bundles/sitetheorytemplatecustom/images/headerImageHome.jpg') }}');">
        </div>
        <div id="darkenHeaderImage">
        </div>
    </div>

    <div id="header">

        {% block headerContent %}
            {{ parent() }}
        {% endblock headerContent %}

        <div class="landingHeader">
            <div class="siteSidePadding siteMaxWidth clearfix">
                <div ng-cloak layout="row" layout-wrap>
                    <div flex="100" flex-gt-sm="45">
                        <div id="slogan" class="fontTertiary">
                            Democrats<br>
                            that<br>
                            represent<br>
                            people,<br>
                            not<br>
                            corporations
                        </div>
                    </div>
                    <div flex="100" flex-gt-sm="45" flex-offset-gt-sm="10">
                        <div id="homeJoin">
                            <p>If you want a strong Democratic Party that doesn't cater to corporate donors and will fight for the average American, join us to take the party back!</p>
                            <div id="homeJoinForm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock header %}


{# NOTE: this page is a stream, but we are currently hard coding everything, so we shouldn't use the majority of the contentType block in the ListBase.html.twig. So instead we are currently just overwriting the entire ContentType block #}

{% block contentType %}

    {# Home Landing Layout #}
    <div id="landingContent1">

        <div class="shellVerticalPadding">
            <div layout="row" layout-wrap>
                <div flex="100" flex-gt-sm="45">
                    <div id="landingContentLeft">
                        <div id="introVideo">
                            <div class="iframeVideoWrapper">
                                <iframe width="548 " height="306" src="https://www.youtube.com/embed/lOTsK_WGNAc" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h3>ALL BETS ARE OFF</h3>

                        <div class="pullout">The Democratic Party is broken, and the corporate wing of the party is responsible.</div>

                        <p>By aligning with Wall Street over working men and women, it has allowed Republicans to take over most state legislatures, most governorships, Congress, and the presidency.</p>

                        <p>The solution is not unity with the corporate-backed Democrats. The solution is to challenge them and replace every single one of them with people who will fight for voters, not donors. It’s time to rebuild the Democratic Party from scratch to be a party that fights for a clear progressive vision.</p>
                    </div>
                </div>
                <div flex="100" flex-gt-sm="45" flex-offset-gt-sm="10">
                    <div id="landingContentRight">
                        <h3>Act Now</h3>
                        <div id="homeActionArea">
                            <p>We are recruiting Justice Democrats to run a unified campaign to replace every establishment politician in Congress in 2018. And we need all the help we can get.</p>

                            <div id="homeActionBtns">
                             <a class="btn" href="/Nominate">NOMINATE A CANDIDATE</a> <a class="btn" href="https://secure.actblue.com/contribute/page/justicedemocrats?refcode=justicedemocrats.com" target="_blank">DONATE</a>
                            </div>

                            <p>Can’t think of anyone to nominate or don’t have the money to spare? No worries, there are still other ways to contribute to the movement.</p>

                            <ul class="listUnstyled fontBody">
                                <li>
                                    <a href="http://justicedemocrats.com/volunteer-skills/">Tell us how you can help</a>
                                </li>
                                <li>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe8CfK0gUULEVpYFm9Eb4iyGOL-_iDl395qB0z4hny7ek4iNw/viewform" target="_blank">Tell us about your congressional district</a>
                                </li>
                                <li>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSceYguZI_gngXf7dLOXN6xUkLRNsYfn0b2v-aDEvZKPH-j1dQ/viewform" target="_blank">Connect us with people we should talk to</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock contentType %}


